/* BASIC STYLES HERE */
.colorpicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.colorpicker::-webkit-color-swatch {
  border-radius: 50%;
  border: 4px solid black
}

.logo {
  height: 45px;
  width: 200px
}

.create {
  height: 40px;
  width: 40px
}

.iconColor {
  color: #004f62;
}

textarea {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}